[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "external/libopenmpt"]
	path = external/libopenmpt
	url = https://github.com/SiliconPlayer/openmpt.git
[submodule "external/libsoxr"]
	path = external/libsoxr
	url = https://git.code.sf.net/p/soxr/code
[submodule "external/libvgm"]
	path = external/libvgm
	url = https://github.com/ValleyBell/libvgm.git
[submodule "external/libgme"]
	path = external/libgme
	url = https://github.com/libgme/game-music-emu.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl
[submodule "external/libsidplayfp"]
	path = external/libsidplayfp
	url = https://github.com/libsidplayfp/libsidplayfp
[submodule "external/lazyusf2"]
	path = external/lazyusf2
	url = https://bitbucket.org/losnoco/lazyusf2/
[submodule "external/fluidsynth"]
	path = external/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth
[submodule "external/libresidfp"]
	path = external/libresidfp
	url = https://github.com/libsidplayfp/libresidfp
[submodule "external/resid"]
	path = external/resid
	url = https://github.com/libsidplayfp/resid
[submodule "external/2sf/vio2sf"]
	path = external/2sf/vio2sf
	url = https://bitbucket.org/kode54/vio2sf
[submodule "external/psflib"]
	path = external/psflib
	url = https://github.com/kode54/psflib
[submodule "external/adplug"]
	path = external/adplug
	url = https://github.com/adplug/adplug
[submodule "external/libbinio"]
	path = external/libbinio
	url = https://github.com/adplug/libbinio
[submodule "external/uade"]
	path = external/uade
	url = https://gitlab.com/uade-music-player/uade
[submodule "external/libzakalwe"]
	path = external/libzakalwe
	url = https://gitlab.com/hors/libzakalwe
[submodule "external/bencodetools"]
	path = external/bencodetools
	url = https://gitlab.com/heikkiorsila/bencodetools
[submodule "external/vasm"]
	path = external/vasm
	url = https://github.com/StarWolf3000/vasm-mirror
[submodule "external/hivelytracker"]
	path = external/hivelytracker
	url = https://github.com/pete-gordon/hivelytracker
[submodule "external/klystrack"]
	path = external/klystrack
	url = https://github.com/LTVA1/klystrack.git
[submodule "external/furnace"]
	path = external/furnace
	url = https://github.com/tildearrow/furnace
