*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Android Module Build
app/build/
app/src/main/cpp/prebuilt/

# Native Build Artifacts
external/libopenmpt/obj/
external/libopenmpt/libs/
external/libopenmpt/Android.mk
external/libopenmpt/Application.mk

# Android studio
.idea/

# sc68 autotools build artifacts
external/sc68/**/confdefs.h
external/sc68/**/autom4te.cache/
external/sc68/**/Makefile
external/sc68/**/Makefile.in
external/sc68/**/config.status
external/sc68/**/config.log
external/sc68/**/config.h
external/sc68/**/stamp-h1
external/sc68/**/.deps/
external/sc68/**/*.o
external/sc68/**/*.lo
external/sc68/**/*.la
external/sc68/**/.libs/
external/sc68/as68/as68
